<nav class="navbar navbar-expand navbar-dark bg px-2">
    <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
        <i class="fa-solid fa-bars"></i>
    </div>
    <a class="navbar-brand px-4" href="/admin">Administración</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li  class="nav-item">
                <a class="nav-link" href="/rol">Roles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/unidad">Unidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/criterio">Criterios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registro">Tipos de Registro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/process">Procesos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/facultad">Facultades</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Ambitos
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="/ambitoA">Ambito Academico</a></li>
                    <li><a class="dropdown-item" href="/ambitoG">Ambito Geografico</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="profile-logo dropstart">
        <button class="btn btn-outline-primary" (click)="logOut()" type="button">LogOut</button>
    </div>
    <img src="../../../assets/logo_admin.png" alt="Logo administración" class="logo-image">
</nav>