.app-container {
    display: flex;
  }
  
  app-navbar, app-sidebar {
    width: 250px;
    background-color: #333;
    color: white;
  }
  
  .content-container {
    flex: 1;
    padding: 20px;
  }
  