<div class="container-fluid g-0">
    <app-header (SideNavToggled)="sideNavStatus = $event;"></app-header>
    <main>
      <app-sidenav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-sidenav-open': sideNavStatus}"></app-sidenav>
      <div class="row mt-4">
        <div class="col-lg-4 offset-lg-4">
          <div class="card text-white bg-secondary mb-3" style="max-width: 25rem;">
            <div class="card-header text-center">Agregar Rol</div>
            <div class="card-body">
              <form [formGroup]="form" (ngSubmit)="crearNuevoRol()">
                <input type="text" class="form-control mt-4" formControlName="nombre" placeholder="Ingrese nombre" required>
                <div *ngIf="form?.get('nombre')?.hasError('required') && form?.get('nombre')?.touched" class="text-danger">El nombre es requerido</div>
                <div *ngIf="errorMsg" class="text-danger">{{errorMsg}}</div>
                <div class="row mt-2 text-center">
                  <div class="col-lg-6">
                    <button routerLink="/rol" type="button" class="btn btn-danger mt-3">Volver</button>
                  </div>
                  <div class="col-lg-6">
                    <button type="submit" class="btn btn-primary mt-3" [disabled]="!form.valid">Aceptar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  