
.bodylogin {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/ucm.png');
    background-size: cover;
  }
  
  .logo {
    width: 300px; 
    height: top;
  } 


  .container {
    background-color: white; 
    padding: 15px;
    border-radius: 10px;
  }
