<div class="container-fluid g-0">
  <app-header (SideNavToggled)="sideNavStatus = $event;"></app-header>
  <main>
    <app-sidenav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-sidenav-open': sideNavStatus}"></app-sidenav>
    <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
      <div class="container">
        <div class="title">
          <h4>Listado de Unidades</h4>

          <div class="search-container">
            <input type="text" placeholder="Buscar por ID o nombre" [(ngModel)]="searchTerm" (input)="realizarBusquedaUnidad()">
            <button class="btn " (click)="realizarBusquedaUnidad()"></button>
            <i class="fas fa-search"></i>
          </div>

          <button type="button" class="btn btn-dark" (click)="mostrarAgregarEditarUnidad(unidadEditId)">{{ 'Agregar Unidad' }}</button>
        </div>

        <div class="d-flex justify-content-center align-items-center" *ngIf="mostrarFormularioAgregarUnidad">
          <div class="form-container">
            <h3>{{ unidadEditId ? 'Editar Unidad' : 'Agregar Unidad' }}</h3>
            <form [formGroup]="form" (ngSubmit)="crearOEditarUnidad()">
              <div class="form-group">
                <label for="nombre_unidad">Nombre de la Unidad</label>
                <input type="text" id="nombre_unidad" class="form-control" formControlName="nombre_unidad" required>
                <div class="error-message error-text" *ngIf="form.get('nombre_unidad')?.invalid && (form.get('nombre_unidad')?.dirty || form.get('nombre_unidad')?.touched)">
                  El Nombre de la Unidad es obligatorio.
                </div>
              </div>
              
              <div *ngIf="!unidadEditId" class="form-group">
                <label for="unidad_defecto">Estado de la Unidad</label>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="unidad_defecto" formControlName="unidad_defecto">
                  <label class="form-check-label" for="unidad_defecto">Activo</label>
                </div>
              </div>
              <div class="form-actions">
                <button type="button" class="btn btn-secondary me-5" (click)="cancelarEdicion()">Cancelar</button>
                <button type="submit" class="btn btn-primary">{{ unidadEditId ? 'Guardar' : 'Aceptar' }}</button>
              </div>
              <div class="error-message" *ngIf="errorMsg">
                {{ errorMsg }}
              </div>
            </form>
          </div>
        </div>

        <div class="table-container mt-4">
          <table class="table table-bordered table-striped table-hover" style="border: 1px solid black;">
            <thead>
              <tr>
                <th scope="col">ID Unidad</th>
                <th scope="col">Nombre Unidad</th>
                <th scope="col">Estado Unidad</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let unidad of unidades  | paginate: { itemsPerPage: 5, currentPage: currentPage }" style="border: 1px solid black;">
                <td style="border: 1px solid black;">{{ unidad.id_unidad }}</td>
                <td style="border: 1px solid black;">{{ unidad.nombre_unidad }}</td>
                <td style="border: 1px solid black;">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" [checked]="unidad.unidad_defecto" (change)="cambiarEstadoUnidad(unidad.id_unidad)">
                    <label class="form-check-label"></label>
                  </div>
                </td>
                <td style="border: 1px solid black;">
                  <button type="button" class="btn" (click)="mostrarAgregarEditarUnidad(unidad.id_unidad)">
                    <i class="fas fa-edit icon-no-bg"></i>
                  </button>
                  <button type="button" class="btn ms-2" (click)="eliminarUnidad(unidad.id_unidad)">
                    <i class="fa fa-trash icon-no-bg"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
      </div>
    </div>
  </main>
</div>
