<div class="container-fluid g-0">
  <app-header (SideNavToggled)="sideNavStatus = $event;"></app-header>
  <main>
    <app-sidenav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-sidenav-open': sideNavStatus}"></app-sidenav>
    <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
      <div class="container">
        <div class="title">
          <h4>Listado de Ámbitos Académicos</h4>

          <div class="search-container">
            <input type="text" placeholder="Buscar por ID o nombre" [(ngModel)]="searchTerm" (input)="realizarBusquedaAmbitoAca()">
            <button class="btn " (click)="realizarBusquedaAmbitoAca()"></button>
            <i class="fas fa-search"></i>
          </div>

          <button type="button" class="btn btn-dark" (click)="mostrarAgregarEditarAmbitoAcademico(ambitoAcademicoEditId)">Agregar Ámbito Académico</button>
        </div>

        <div class="d-flex justify-content-center align-items-center" *ngIf="mostrarFormularioAgregarAmbitoAcademico">
          <div class="form-container">
            <h3>{{ ambitoAcademicoEditId ? 'Editar Ámbito Académico' : 'Agregar Ámbito Académico' }}</h3>
            <form [formGroup]="form" (ngSubmit)="crearOEditarAmbitoAcademico()">
              <div class="form-group">
                <label for="nombre_ambito_academico">Nombre del Ámbito Académico</label>
                <input type="text" id="nombre_ambito_academico" class="form-control" formControlName="nombre_ambito_academico" required>
                <div class="error-message error-text" *ngIf="form.get('nombre_ambito_academico')?.invalid && (form.get('nombre_ambito_academico')?.dirty || form.get('nombre_ambito_academico')?.touched)">
                  El Nombre del Ámbito Académico es obligatorio.
                </div>
              </div>
              
              <div *ngIf="!ambitoAcademicoEditId" class="form-group">
                <label for="estado_ambito_academico">Estado del Ámbito Académico</label>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="estado_ambito_academico" formControlName="estado_ambito_academico">
                  <label class="form-check-label" for="estado_ambito_academico">Activo</label>
                </div>
              </div>
              <div class="form-actions">
                <button type="button" class="btn btn-secondary me-5" (click)="cancelarEdicionAmbitoAcademico()">Cancelar</button>
                <button type="submit" class="btn btn-primary">{{ ambitoAcademicoEditId ? 'Guardar' : 'Aceptar' }}</button>
              </div>
              <div class="error-message" *ngIf="errorMsg">
                {{ errorMsg }}
              </div>
            </form>
          </div>
        </div>

        <div class="table-container mt-4">
          <table class="table table-bordered table-striped table-hover" style="border: 1px solid black;">
            <thead>
              <tr>
                <th scope="col">ID Ámbito Académico</th>
                <th scope="col">Nombre Ámbito Académico</th>
                <th scope="col">Estado Ámbito Académico</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ambitoAcademico of ambitosAcademicos | paginate: { itemsPerPage: 5, currentPage: currentPage }" style="border: 1px solid black;">
                <td style="border: 1px solid black;">{{ ambitoAcademico.id_ambito_academico }}</td>
                <td style="border: 1px solid black;">{{ ambitoAcademico.nombre_ambito_academico }}</td>
                <td style="border: 1px solid black;">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" [checked]="ambitoAcademico.estado_ambito_academico" (change)="cambiarEstadoAmbitoAcademico(ambitoAcademico.id_ambito_academico)">
                    <label class="form-check-label"></label>
                  </div>
                </td>
                <td style="border: 1px solid black;">
                  <button type="button" class="btn" (click)="mostrarAgregarEditarAmbitoAcademico(ambitoAcademico.id_ambito_academico)">
                    <i class="fas fa-edit icon-no-bg"></i>
                  </button>
                  <button type="button" class="btn ms-2" (click)="eliminarAmbitoAcademico(ambitoAcademico.id_ambito_academico)">
                    <i class="fa fa-trash icon-no-bg"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
      </div>
    </div>
  </main>
</div>
