<div class="container-fluid g-0">
  <app-header (SideNavToggled)="sideNavStatus = $event;"></app-header>
  <main>
    <app-sidenav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-sidenav-open': sideNavStatus}"></app-sidenav>
    <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
      <div class="container">
        <div class="title">
          <h3 class="page-title">Listado de Roles</h3>
          <button type="button" class="btn btn-dark" routerLink="/addR">Agregar Rol</button>
        </div>
        <div class="table-container mt-4">
          <table class="table table-bordered table-striped table-hover" style="border: 1px solid black;">
            <thead>
              <tr>
                <th scope="col">ID Rol</th>
                <th scope="col">Nombre Rol</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rol of roles" style="border: 1px solid black;">
                <td style="border: 1px solid black;">{{ rol.id_rol }}</td>
                <td style="border: 1px solid black;">{{ rol.nombre_rol }}</td>
                <td style="border: 1px solid black;">
                  <a [routerLink]="['/editR', rol.id_rol]">
                    <button type="button" class="btn">
                      <i class="fas fa-edit icon-no-bg"></i>
                    </button>
                  </a>
                  <button type="button" class="btn ms-2" (click)="eliminarRol(rol.id_rol)">
                    <i class="fa fa-trash icon-no-bg"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>
